In [1]:
# Dependencies

import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import plotly
plotly.tools.set_credentials_file(username='mcyee90', api_key='tyKEvUOsCK4MehoEmOKr')
import plotly.plotly as py
import plotly.graph_objs as go
import numpy as np
import math

In [2]:
traffic = pd.read_csv("traffic.csv")
traffic = traffic[['Date', 'Visitors', 'Visits', 'Page Views']]
traffic = traffic.apply(lambda x: x.str.replace(',',''))
traffic['Date'] =  pd.to_datetime(traffic['Date'])
traffic[['Visitors', 'Visits', 'Page Views']] = traffic[['Visitors', 'Visits', 'Page Views']].apply(pd.to_numeric)
traffic = traffic.groupby(['Date'])['Visitors', 'Visits', 'Page Views'].sum()
traffic = traffic.reset_index()
traffic.head()

        Date  Visitors   Visits  Page Views
0 2008-01-01   1100599  1430780     1650898
1 2008-01-02   1196844  1555899     1795268
2 2008-01-03    983286  1278272     1474928
3 2008-01-04   1221271  1587654     1831909
4 2008-01-05   1431153  1860499     2146730

In [3]:
market = pd.read_csv("market.csv")
market = market.apply(lambda x: x.str.replace(',',''))
market['Date'] =  pd.to_datetime(market['Date'])
market[['Visits to competitor sites', 'Social Media Mentions']] = market[['Visits to competitor sites', 'Social Media Mentions']].apply(pd.to_numeric)
market.head()

        Date  Visits to competitor sites  Social Media Mentions
0 2008-01-01                     1216161                 210225
1 2008-01-02                     1322513                 231825
2 2008-01-03                     1086531                 190125
3 2008-01-04                     1349506                 232925
4 2008-01-05                     1581425                 276055

In [4]:
sku = pd.read_csv("sku.csv")
sku = sku[['SKU', 'Product Name', 'Value', 'Beginning Inventory']]
sku[['Beginning Inventory']] = sku[['Beginning Inventory']].apply(lambda x: x.str.replace(',',''))
sku[['Value']] = sku[['Value']].apply(lambda x: x.str.replace('$',''))
sku[['Value', 'Beginning Inventory']] = sku[['Value', 'Beginning Inventory']].apply(pd.to_numeric)
sku = sku[0:10]
sku[['SKU', 'Value', 'Beginning Inventory']] = sku[['SKU', 'Value', 'Beginning Inventory']].astype(int)
sku['Price Tier'] = ""
for index, row in sku.iterrows():
    if row['Value'] < 35:
        sku.at[index, 'Price Tier'] = "L"
    elif row['Value'] < 100:
        sku.at[index, 'Price Tier'] = "M"
    else:
        sku.at[index, 'Price Tier'] = "H"
sku.head(200)

   SKU               Product Name  Value  Beginning Inventory Price Tier
0  101      Pineappple Express 1G     50                 2518          M
1  102       Fruit Punch - 100 MG    200                 2676          H
2  103             Lip Balm - CBD     75                  852          M
3  104            zen pen - 500mg     40                 1168          M
4  105          Blue Diamond - 3G     30                 1274          L
5  106             Nosh OG - 0.3G     30                  124          L
6  107         Blue Dream PreRoll     25                  410          L
7  108           Cannabis T-Shirt     50                 1694          M
8  109                  WiFi - 1G     75                  552          M
9  110  Cookie Brownie Bar - 10MG     50                  588          M

In [5]:
sales = pd.read_csv("sales.csv")
sales[['Transaction ID (Unique)']] = sales[['Transaction ID (Unique)']].apply(lambda x: x.str.replace(',',''))
sales['Date'] =  pd.to_datetime(sales['Date'])
sales[['Transaction ID (Unique)']] = sales[['Transaction ID (Unique)']].apply(pd.to_numeric)
sales.head()

        Date  Transaction ID (Unique)  SKU
0 2008-01-01                     1001  102
1 2008-01-01                     1002  102
2 2008-01-01                     1003  101
3 2008-01-01                     1005  101
4 2008-01-01                     1006  101

In [6]:
sales_data = pd.merge(sales, sku, on="SKU", how="left")
sales_data = sales_data[['Date', 'Transaction ID (Unique)', 'SKU', 'Product Name', 'Value']]
sales_data = sales_data.groupby('Date')['Value'].agg(['sum', 'count'])
sales_data = sales_data.reset_index()
sales_data.columns = ['Date', 'Revenue', 'Sales']
sales_data.head()

        Date  Revenue  Sales
0 2008-01-01     1000     10
1 2008-01-02      875     11
2 2008-01-03      800      9
3 2008-01-04      800     11
4 2008-01-05     1800     13

In [7]:
spend = pd.read_csv("media_spend.csv")
spend = spend.apply(lambda x: x.str.replace(',',''))
spend = spend.apply(lambda x: x.str.replace('$',''))
spend[['GRP (OOH)', 'PPC Spend', 'Display Spend', 'email Spend']] = spend[['GRP (OOH)', 'PPC Spend', 'Display Spend', 'email Spend']].apply(lambda x: x.str.replace(' ',''))
spend[['GRP (OOH)', 'PPC Spend', 'Display Spend', 'email Spend']] = spend[['GRP (OOH)', 'PPC Spend', 'Display Spend', 'email Spend']].apply(lambda x: x.str.replace('-',''))
spend['Date'] =  pd.to_datetime(spend['Date'])
spend[['GRP (OOH)', 'PPC Spend', 'Display Spend', 'email Spend']] = spend[['GRP (OOH)', 'PPC Spend', 'Display Spend', 'email Spend']].apply(pd.to_numeric)
spend[['GRP (OOH)', 'PPC Spend', 'Display Spend', 'email Spend']] = spend[['GRP (OOH)', 'PPC Spend', 'Display Spend', 'email Spend']].fillna(0)
spend[['GRP (OOH)', 'PPC Spend', 'Display Spend', 'email Spend']] = spend[['GRP (OOH)', 'PPC Spend', 'Display Spend', 'email Spend']].replace(np.nan, 0)
spend['total'] = ""
for index, row in spend.iterrows():
    spend.at[index, 'total'] = row['GRP (OOH)'] + row['PPC Spend'] + row['Display Spend'] + row['email Spend']
    
spend.head()

        Date  GRP (OOH)  PPC Spend  Display Spend  email Spend      total
0 2008-01-01 118500.000   1890.000           1491     1275.000 123156.000
1 2008-01-02  82500.000   2273.000           1272      720.000  86765.000
2 2008-01-03 159000.000   1710.000           1426      660.000 162796.000
3 2008-01-04 153000.000   1980.000           1410      750.000 157140.000
4 2008-01-05 123000.000   2160.000           1166      555.000 126881.000

In [8]:
cost_revs = pd.merge(sales_data, spend, on="Date", how="left")
all_data = pd.merge(cost_revs, traffic, on="Date", how="left")
all_data.to_csv('all_data.csv')

In [9]:
trace1 = go.Scatter(
        x = all_data['Date'],
        y = all_data['Revenue'],
        name = "Revenues",
        line = {'color': "#008000"},
        mode = 'lines')

trace2 = go.Scatter(
        x = all_data['Date'],    
        y = all_data['total'],
        name = "Cost",
        line = {'color': "#ff0000"},
        mode = 'lines',
        yaxis='y2')

trace3 = go.Scatter(
        x=all_data['Date'],
        y=all_data['Visits'],
        name = "Visits",
        line = {'color': "#0000ff"},
        mode = 'lines',
        yaxis='y3')

day_data = [trace1, trace2, trace3]

layout = go.Layout(
    title='Revenue, Cost and Website Visits (Daily)',
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        domain=[0.1, 0.9],
        rangeslider=dict(
            visible = True
        ),
        type='date'
    ),
    yaxis = dict(
        title='Revenue',
        titlefont=dict(
            color='#008000'
            ),
        tickfont=dict(
            color='#008000'
            ),
        anchor='x',
        # overlaying='y',
        side='left',
        position=0
        ),
    yaxis2 = dict(
        title='Cost',
        titlefont=dict(
            color='#ff0000'
            ),
        tickfont=dict(
            color='#ff0000'
            ),
        anchor='x',
        overlaying='y',
        side='right',
        ),
    yaxis3=dict(
        title='Visits',
        titlefont=dict(
            color='#0000ff'
            ),
        tickfont=dict(
            color='#0000ff'
            ),
        anchor='free',
        overlaying='y',
        side='right',
        position=.95
        )
)

fig1 = go.Figure(data=day_data, layout=layout)

py.iplot(fig1)

In [10]:
grouped_data = all_data
grouped_data['Month'] = ""
grouped_data['Week'] = ""
for d, row in grouped_data.iterrows():
    year = str(row['Date'])[0:4]
    month = str(row['Date'])[5:7]
    week = math.floor((int(d)/7)+1)
    grouped_data.at[d, "Week"] = week
    grouped_data.at[d, "Month"] = year + "-" + month
grouped_data['Month'] = pd.to_datetime(grouped_data['Month'])
    
grouped_data.head()

,Date,Revenue,Sales,GRP (OOH),PPC Spend,Display Spend,email Spend,total,Visitors,Visits,Page Views,Month,Week
0,2008-01-01,1000,10,118500.000,1890.000,1491,1275.000,123156.000,1100599,1430780,1650898,2008-01-01,1
1,2008-01-02,875,11,82500.000,2273.000,1272,720.000,86765.000,1196844,1555899,1795268,2008-01-01,1
2,2008-01-03,800,9,159000.000,1710.000,1426,660.000,162796.000,983286,1278272,1474928,2008-01-01,1
3,2008-01-04,800,11,153000.000,1980.000,1410,750.000,157140.000,1221271,1587654,1831909,2008-01-01,1
4,2008-01-05,1800,13,123000.000,2160.000,1166,555.000,126881.000,1431153,1860499,2146730,2008-01-01,1

In [11]:
grouped_data.columns

Index(['Date', 'Revenue', 'Sales', 'GRP (OOH)', 'PPC Spend', 'Display Spend',
       'email Spend', 'total', 'Visitors', 'Visits', 'Page Views', 'Month',
       'Week'],
      dtype='object')

In [12]:
month_grouped = grouped_data.groupby(['Month'])['Revenue', 'Sales', 'GRP (OOH)', 'PPC Spend', 'Display Spend',
       'email Spend', 'total', 'Visitors', 'Visits', 'Page Views'].sum()
month_grouped['total'] = ""
for index, row in month_grouped.iterrows():
    month_grouped.at[index, 'total'] = row['GRP (OOH)'] + row['PPC Spend'] + row['Display Spend'] + row['email Spend']
month_grouped = month_grouped.reset_index()
month_grouped.head()

,Month,Revenue,Sales,GRP (OOH),PPC Spend,Display Spend,email Spend,Visitors,Visits,Page Views,total
0,2008-01-01,41025,367,3958500.000,64334.000,39241,21382.000,40134319,52174598,60201465,4083457.000
1,2008-02-01,36400,330,3954000.000,56527.000,35795,18441.000,35994492,46792838,53991752,4064763.000
2,2008-03-01,37325,349,1536500.000,62175.000,38656,17652.000,37134444,48274776,55701681,1654983.000
3,2008-04-01,18860,333,1557250.000,22009.000,37743,8262.000,34946558,45430536,52419846,1625264.000
4,2008-05-01,21410,335,1622750.000,24406.000,39188,7886.000,34470589,44811769,51705887,1694230.000

In [13]:
week_grouped = grouped_data.groupby(['Week'])['Revenue', 'Sales', 'GRP (OOH)', 'PPC Spend', 'Display Spend',
       'email Spend', 'total', 'Visitors', 'Visits', 'Page Views'].sum()
week_grouped['total'] = ""
for index, row in week_grouped.iterrows():
    week_grouped.at[index, 'total'] = row['GRP (OOH)'] + row['PPC Spend'] + row['Display Spend'] + row['email Spend']
week_grouped = week_grouped.reset_index()
week_grouped.head()

,Week,Revenue,Sales,GRP (OOH),PPC Spend,Display Spend,email Spend,Visitors,Visits,Page Views,total
0,1,7600,77,898500.000,13681.000,9133,5333.000,8444986,10978488,12667485,926647.000
1,2,10525,89,957000.000,15998.000,9271,4765.000,9743912,12667074,14615858,987034.000
2,3,8625,83,865500.000,14290.000,7910,4689.000,9088268,11814743,13632401,892389.000
3,4,8975,79,937500.000,14064.000,8888,4667.000,8620549,11206716,12930822,965119.000
4,5,10650,83,771000.000,13997.000,8318,4629.000,9031102,11740427,13546650,797944.000

In [14]:
month_rev = go.Scatter(
            x = month_grouped['Month'],
            y = month_grouped['Revenue'],
            name = "Revenues",
            line = {'color': "#008000", "width":3},
            mode = 'lines',
            yaxis="y1")

month_cost = go.Scatter(
            x=month_grouped['Month'],
            y=month_grouped['total'],
            name = "cost",
            line = {'color': "#ff0000", "width":1},
            mode = 'lines',
            yaxis='y2')

month_visits = go.Scatter(
            x=month_grouped['Month'],
            y=month_grouped['Visits'],
            name = "Visits",
            line = {'color': "#0000ff", "width":3},
            mode = 'lines',
            yaxis='y3')

data = [month_rev, month_cost, month_visits]

layout = go.Layout(
    title='Revenue, Cost and Website Visits (Monthly)',
    titlefont=dict(
            size=24,
        ),
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        domain=[0.1, 0.9],
        rangeslider=dict(
            visible = True
        ),
        type='date'
    ),
    yaxis = dict(
        title='Revenue',
        titlefont=dict(
            color='#008000'
            ),
        tickfont=dict(
            color='#008000'
            ),
        anchor='x',
        # overlaying='y',
        side='left',
        position=0
        ),
    yaxis2 = dict(
        title='Cost',
        titlefont=dict(
            color='#ff0000'
            ),
        tickfont=dict(
            color='#ff0000'
            ),
        anchor='x',
        overlaying='y',
        side='right',
        ),
    yaxis3=dict(
        title='Visits',
        titlefont=dict(
            color='#0000ff'
            ),
        tickfont=dict(
            color='#0000ff'
            ),
        anchor='free',
        overlaying='y',
        side='right',
        position=.95
        )
)


fig = go.Figure(data=data, layout=layout)

py.iplot(fig)

In [15]:
week_rev = go.Scatter(
            x = week_grouped['Week'],
            y = week_grouped['Revenue'],
            name = "Revenues",
            line = {'color': "#008000", "width":3},
            mode = 'lines',
            yaxis="y1")

week_cost = go.Scatter(
            x=week_grouped['Week'],
            y=week_grouped['total'],
            name = "cost",
            line = {'color': "#ff0000", "width":1},
            mode = 'lines',
            yaxis='y2')

week_visits = go.Scatter(
            x=week_grouped['Week'],
            y=week_grouped['Visits'],
            name = "Visits",
            line = {'color': "#0000ff", "width":3},
            mode = 'lines',
            yaxis='y3')

data = [week_rev, week_cost, week_visits]

layout = go.Layout(
    title='Revenue, Cost and Website Visits (Weekly)',
    titlefont=dict(
            size=24,
        ),
    xaxis=dict(
        domain=[0.1, 0.9],
        rangeslider=dict(
            visible = True
        )
    ),
    yaxis = dict(
        title='Revenue',
        titlefont=dict(
            color='#008000'
            ),
        tickfont=dict(
            color='#008000'
            ),
        anchor='x',
        # overlaying='y',
        side='left',
        position=0
        ),
    yaxis2 = dict(
        title='Cost',
        titlefont=dict(
            color='#ff0000'
            ),
        tickfont=dict(
            color='#ff0000'
            ),
        anchor='x',
        overlaying='y',
        side='right',
        ),
    yaxis3=dict(
        title='Visits',
        titlefont=dict(
            color='#0000ff'
            ),
        tickfont=dict(
            color='#0000ff'
            ),
        anchor='free',
        overlaying='y',
        side='right',
        position=.95
        )
)


fig = go.Figure(data=data, layout=layout)

py.plot(fig)

'https://plot.ly/~mcyee90/361'

In [16]:
sku_sales = sales.groupby(['SKU']).count()
sku_sales = sku_sales.reset_index()
sku_sales = pd.merge(sku_sales, sku, on="SKU", how="left")
sku_sales['Percent Sold'] = ""
sku_sales['Revenue Total'] = ""
sku_sales['Market Share'] = ""
sku_sales.head(10)
for i, r in sku_sales.iterrows():
    sku_sales.at[i, 'Percent Sold'] = r['Transaction ID (Unique)']/r['Beginning Inventory']
    sku_sales.at[i, 'Revenue Total'] = r['Transaction ID (Unique)']*r['Value']
sku_sales = sku_sales.sort_values(by=['Value'])
total_sales = sku_sales['Revenue Total'].sum()
for i, r in sku_sales.iterrows():
    sku_sales.at[i, "Market Share"] = r['Revenue Total']/total_sales
sku_sales

,SKU,Date,Transaction ID (Unique),Product Name,Value,Beginning Inventory,Price Tier,Percent Sold,Revenue Total,Market Share
6,107,205,205,Blue Dream PreRoll,25,410,L,0.500,5125,0.008
4,105,637,637,Blue Diamond - 3G,30,1274,L,0.500,19110,0.030
5,106,186,186,Nosh OG - 0.3G,30,124,L,1.500,5580,0.009
3,104,584,584,zen pen - 500mg,40,1168,M,0.500,23360,0.037
0,101,1259,1259,Pineappple Express 1G,50,2518,M,0.500,62950,0.100
7,108,847,847,Cannabis T-Shirt,50,1694,M,0.500,42350,0.067
9,110,881,881,Cookie Brownie Bar - 10MG,50,588,M,1.498,44050,0.070
2,103,1278,1278,Lip Balm - CBD,75,852,M,1.500,95850,0.153
8,109,828,828,WiFi - 1G,75,552,M,1.500,62100,0.099
1,102,1338,1338,Fruit Punch - 100 MG,200,2676,H,0.500,267600,0.426

In [17]:
trace1 = go.Bar(
    x = sku_sales['Product Name'],
    y = sku_sales['Value'],
    name='Value',
    text= (sku_sales['Value']).map('${:,.0f}'.format),
    textposition = 'outside',
    textfont=dict(
        color='#000000',
    ),
    marker=dict(
        color='#0000ff',
        line=dict(
            color='#0000ff',
            width=1),
        ),
    opacity=.5
)

trace2 = go.Bar(
    x = sku_sales['Product Name'],
    y = 100*sku_sales['Percent Sold'],
    name='Percent of Inventory Sold',
    text= (100*sku_sales['Percent Sold']).map('{:,.1f}%'.format),
    textposition = 'outside',
    textfont=dict(
        color='#000000',
    ),
    marker=dict(
        color='#008000',
        line=dict(
            color='#008000',
            width=1),
        ),
    opacity=.5,
    )

data = [trace1, trace2]

layout = go.Layout(
    barmode='group',
    title='Sales Analysis'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

In [18]:
labels = sku_sales['Product Name']
values = sku_sales['Revenue Total']

trace = go.Pie(labels=labels, values=values)

layout = go.Layout(
    title='Market Share by Product'
)

fig = go.Figure(data=[trace], layout=layout)

py.iplot(fig, filename='Market Share')

In [19]:
sales_lmh = pd.merge(sales, sku, on="SKU", how="left")
sales_lmh = sales_lmh.groupby(['Date', 'Price Tier'])['Price Tier'].agg(['count'])
sales_lmh = sales_lmh.reset_index()
sales_lmh.head(5)

        Date Price Tier  count
0 2008-01-01          H      3
1 2008-01-01          M      7
2 2008-01-02          H      2
3 2008-01-02          M      9
4 2008-01-03          H      2

In [20]:
sales_l = sales_lmh[sales_lmh['Price Tier']=="L"]
sales_l = pd.merge(grouped_data, sales_l, on='Date', how='left')
sales_l_week = sales_l.groupby(['Week'])['Revenue', 'Sales', 'GRP (OOH)', 'PPC Spend', 'Display Spend',
       'email Spend', 'total', 'Visitors', 'Visits', 'Page Views','count'].sum()
sales_l_week['count'] = sales_l_week['count'].fillna(0)
sales_l_week['count'] = sales_l_week['count'].replace(np.nan, 0)
sales_l_week = sales_l_week.reset_index()

week_sales = go.Scatter(
            x = sales_l_week['Week'],
            y = sales_l_week['count'],
            name = "Sales",
            line = {'color': "#ffd700", "width":4.5},
            mode = 'lines',
            yaxis="y1")

week_grp = go.Scatter(
            x=sales_l_week['Week'],
            y=sales_l_week['GRP (OOH)'],
            name = "GRP (OOH)",
            line = {'color': "#00ffd7", "width":1},
            mode = 'lines',
            yaxis='y2')

week_ppc = go.Scatter(
            x=sales_l_week['Week'],
            y=sales_l_week['PPC Spend'],
            name = "PPC Spend",
            line = {'color': "#d700ff", "width":1},
            mode = 'lines',
            yaxis='y3')

week_email = go.Scatter(
            x=sales_l_week['Week'],
            y=sales_l_week['email Spend'],
            name = "Email",
            line = {'color': "#ff5700", "width":1},
            mode = 'lines',
            yaxis='y4')

data = [week_sales, week_grp, week_ppc, week_email]

layout = go.Layout(
    title='Weekly Marketing Campaigns and Low Cost Sales (less than $35 per product)',
    titlefont=dict(
            size=24,
        ),
    xaxis=dict(
        domain=[0, 0.9],
        rangeslider=dict(
            visible = True
        )
    ),
    yaxis = dict(
        title='Sales',
        titlefont=dict(
            color='#ffd700'
            ),
        tickfont=dict(
            color='#ffd700'
            ),
        anchor='x',
        # overlaying='y',
        side='left',
        position=0
        ),
    yaxis2 = dict(
        title='GRP',
        titlefont=dict(
            color='#00ffd7'
            ),
        tickfont=dict(
            color='#00ffd7'
            ),
        anchor='x',
        overlaying='y',
        side='right',
        ),
    yaxis3=dict(
        title='PPC',
        titlefont=dict(
            color='#d700ff'
            ),
        tickfont=dict(
            color='#d700ff'
            ),
        anchor='free',
        overlaying='y',
        side='right',
        position=.95
        ),
    yaxis4=dict(
        title='Email',
        titlefont=dict(
            color='#ff5700'
            ),
        tickfont=dict(
            color='#ff5700'
            ),
        anchor='free',
        overlaying='y',
        side='right',
        position=1
        )
)


fig = go.Figure(data=data, layout=layout)

py.iplot(fig)

In [21]:
sales_m = sales_lmh[sales_lmh['Price Tier']=="M"]
sales_m = pd.merge(grouped_data, sales_m, on='Date', how='left')
sales_m_week = sales_m.groupby(['Week'])['Revenue', 'Sales', 'GRP (OOH)', 'PPC Spend', 'Display Spend',
       'email Spend', 'total', 'Visitors', 'Visits', 'Page Views','count'].sum()
sales_m_week['count'] = sales_m_week['count'].fillna(0)
sales_m_week['count'] = sales_m_week['count'].replace(np.nan, 0)
sales_m_week = sales_m_week.reset_index()

week_sales = go.Scatter(
            x = sales_m_week['Week'],
            y = sales_m_week['count'],
            name = "Sales",
            line = {'color': "#ffd700", "width":4.5},
            mode = 'lines',
            yaxis="y1")

week_grp = go.Scatter(
            x=sales_m_week['Week'],
            y=sales_m_week['GRP (OOH)'],
            name = "GRP (OOH)",
            line = {'color': "#00ffd7", "width":1},
            mode = 'lines',
            yaxis='y2')

week_ppc = go.Scatter(
            x=sales_m_week['Week'],
            y=sales_m_week['PPC Spend'],
            name = "PPC Spend",
            line = {'color': "#d700ff", "width":1},
            mode = 'lines',
            yaxis='y3')

week_email = go.Scatter(
            x=sales_m_week['Week'],
            y=sales_m_week['email Spend'],
            name = "Email",
            line = {'color': "#ff5700", "width":1},
            mode = 'lines',
            yaxis='y4')

data = [week_sales, week_grp, week_ppc, week_email]

layout = go.Layout(
    title="Weekly Marketing Campaigns and Middle Cost Sales (between $35 and 150 per product)",
    titlefont=dict(
            size=24,
        ),
    xaxis=dict(
        domain=[0, 0.9],
        rangeslider=dict(
            visible = True
        )
    ),
    yaxis = dict(
        title='Sales',
        titlefont=dict(
            color='#ffd700'
            ),
        tickfont=dict(
            color='#ffd700'
            ),
        anchor='x',
        # overlaying='y',
        side='left',
        position=0
        ),
    yaxis2 = dict(
        title='GRP',
        titlefont=dict(
            color='#00ffd7'
            ),
        tickfont=dict(
            color='#00ffd7'
            ),
        anchor='x',
        overlaying='y',
        side='right',
        ),
    yaxis3=dict(
        title='PPC',
        titlefont=dict(
            color='#d700ff'
            ),
        tickfont=dict(
            color='#d700ff'
            ),
        anchor='free',
        overlaying='y',
        side='right',
        position=.95
        ),
    yaxis4=dict(
        title='Email',
        titlefont=dict(
            color='#ff5700'
            ),
        tickfont=dict(
            color='#ff5700'
            ),
        anchor='free',
        overlaying='y',
        side='right',
        position=1
        )
)


fig = go.Figure(data=data, layout=layout)

py.iplot(fig)

In [23]:
sales_h = sales_lmh[sales_lmh['Price Tier']=="H"]
sales_h = pd.merge(grouped_data, sales_h, on='Date', how='left')
sales_h_week = sales_h.groupby(['Week'])['Revenue', 'Sales', 'GRP (OOH)', 'PPC Spend', 'Display Spend',
       'email Spend', 'total', 'Visitors', 'Visits', 'Page Views','count'].sum()
sales_h_week['count'] = sales_h_week['count'].fillna(0)
sales_h_week['count'] = sales_h_week['count'].replace(np.nan, 0)
sales_h_week = sales_h_week.reset_index()

week_sales = go.Scatter(
            x = sales_h_week['Week'],
            y = sales_h_week['count'],
            name = "Sales",
            line = {'color': "#ffd700", "width":4.5},
            mode = 'lines',
            yaxis="y1")

week_grp = go.Scatter(
            x=sales_h_week['Week'],
            y=sales_h_week['GRP (OOH)'],
            name = "GRP (OOH)",
            line = {'color': "#00ffd7", "width":1},
            mode = 'lines',
            yaxis='y2')

week_ppc = go.Scatter(
            x=sales_h_week['Week'],
            y=sales_h_week['PPC Spend'],
            name = "PPC Spend",
            line = {'color': "#d700ff", "width":1},
            mode = 'lines',
            yaxis='y3')

week_email = go.Scatter(
            x=sales_h_week['Week'],
            y=sales_h_week['email Spend'],
            name = "Email",
            line = {'color': "#ff5700", "width":1},
            mode = 'lines',
            yaxis='y4')

data = [week_sales, week_grp, week_ppc, week_email]

layout = go.Layout(
    title='Weekly Marketing Campaigns and Low Cost Sales (greater than $150 per product)',
    titlefont=dict(
            size=24,
        ),
    xaxis=dict(
        domain=[0, 0.9],
        rangeslider=dict(
            visible = True
        )
    ),
    yaxis = dict(
        title='Sales',
        titlefont=dict(
            color='#ffd700'
            ),
        tickfont=dict(
            color='#ffd700'
            ),
        anchor='x',
        # overlaying='y',
        side='left',
        position=0
        ),
    yaxis2 = dict(
        title='GRP',
        titlefont=dict(
            color='#00ffd7'
            ),
        tickfont=dict(
            color='#00ffd7'
            ),
        anchor='x',
        overlaying='y',
        side='right',
        ),
    yaxis3=dict(
        title='PPC',
        titlefont=dict(
            color='#d700ff'
            ),
        tickfont=dict(
            color='#d700ff'
            ),
        anchor='free',
        overlaying='y',
        side='right',
        position=.95
        ),
    yaxis4=dict(
        title='Email',
        titlefont=dict(
            color='#ff5700'
            ),
        tickfont=dict(
            color='#ff5700'
            ),
        anchor='free',
        overlaying='y',
        side='right',
        position=1
        )
)


fig = go.Figure(data=data, layout=layout)

py.iplot(fig)

In [24]:
competition = pd.read_csv('market.csv')
competition['Date'] =  pd.to_datetime(competition['Date'])
competition[['Visits to competitor sites', 'Social Media Mentions']] = competition[['Visits to competitor sites', 'Social Media Mentions']].apply(lambda x: x.str.replace(',',''))
competition[['Visits to competitor sites', 'Social Media Mentions']] = competition[['Visits to competitor sites', 'Social Media Mentions']].apply(pd.to_numeric)
competition[['Visits to competitor sites', 'Social Media Mentions']] = competition[['Visits to competitor sites', 'Social Media Mentions']].fillna(0)
competition[['Visits to competitor sites', 'Social Media Mentions']] = competition[['Visits to competitor sites', 'Social Media Mentions']].replace(np.nan, 0)
complete_merge = pd.merge(grouped_data, competition, on="Date", how="left")
complete_merge

,Date,Revenue,Sales,GRP (OOH),PPC Spend,Display Spend,email Spend,total,Visitors,Visits,Page Views,Month,Week,Visits to competitor sites,Social Media Mentions
0,2008-01-01,1000,10,118500.000,1890.000,1491,1275.000,123156.000,1100599,1430780,1650898,2008-01-01,1,1216161,210225
1,2008-01-02,875,11,82500.000,2273.000,1272,720.000,86765.000,1196844,1555899,1795268,2008-01-01,1,1322513,231825
2,2008-01-03,800,9,159000.000,1710.000,1426,660.000,162796.000,983286,1278272,1474928,2008-01-01,1,1086531,190125
3,2008-01-04,800,11,153000.000,1980.000,1410,750.000,157140.000,1221271,1587654,1831909,2008-01-01,1,1349506,232925
4,2008-01-05,1800,13,123000.000,2160.000,1166,555.000,126881.000,1431153,1860499,2146730,2008-01-01,1,1581425,276055
5,2008-01-06,1275,11,138000.000,1733.000,1085,713.000,141531.000,1200314,1560409,1800473,2008-01-01,1,1326349,234245
6,2008-01-07,1050,12,124500.000,1935.000,1283,660.000,128378.000,1311519,1704975,1967279,2008-01-01,1,1449228,256230
7,2008-01-08,2550,20,148500.000,3825.000,1219,728.000,154272.000,2172624,2824404,3258932,2008-01-01,2,2400742,428150
8,2008-01-09,1700,12,135000.000,2160.000,1268,773.000,139201.000,1310882,1704148,1966323,2008-01-01,2,1448524,257550
9,2008-01-10,900,12,133500.000,1980.000,1321,480.000,137281.000,1325506,1723158,1988260,2008-01-01,2,1464685,258270
10,2008-01-11,1500,13,123000.000,2250.000,1449,735.000,127434.000,1431081,1860402,2146616,2008-01-01,2,1581342,280605
11,2008-01-12,950,9,108000.000,1665.000,1434,623.000,111722.000,979953,1273939,1469929,2008-01-01,2,1082847,194760
12,2008-01-13,1425,12,138000.000,2138.000,1246,713.000,142097.000,1320063,1716080,1980094,2008-01-01,2,1458670,260310
13,2008-01-14,1500,11,171000.000,1980.000,1334,713.000,175027.000,1203803,1564943,1805704,2008-01-01,2,1330201,239250
14,2008-01-15,1375,13,118500.000,2183.000,1018,615.000,122316.000,1409368,1832177,2114053,2008-01-01,3,1557353,283530
15,2008-01-16,925,13,103500.000,2318.000,1020,540.000,107378.000,1420563,1846734,2130846,2008-01-01,3,1569723,284375
16,2008-01-17,900,8,111000.000,1440.000,1219,675.000,114334.000,869120,1129856,1303680,2008-01-01,3,960379,175420
17,2008-01-18,950,13,129000.000,2205.000,1118,690.000,133013.000,1432677,1862481,2149018,2008-01-01,3,1583109,285740
18,2008-01-19,1625,12,153000.000,1868.000,1422,623.000,156913.000,1334394,1734710,2001591,2008-01-01,3,1474503,264510
19,2008-01-20,1325,11,121500.000,2138.000,1095,758.000,125491.000,1208101,1570530,1812149,2008-01-01,3,1334951,243100
20,2008-01-21,1525,13,129000.000,2138.000,1018,788.000,132944.000,1414045,1838255,2121064,2008-01-01,3,1562518,288080
21,2008-01-22,1150,10,111000.000,1845.000,1437,698.000,114980.000,1092057,1419673,1638083,2008-01-01,4,1206724,222175
22,2008-01-23,1100,9,142500.000,1620.000,1037,638.000,145795.000,980926,1275203,1471387,2008-01-01,4,1083923,200385
23,2008-01-24,1450,12,115500.000,2025.000,1498,765.000,119788.000,1305519,1697174,1958279,2008-01-01,4,1442598,267810
24,2008-01-25,1300,12,148500.000,2070.000,1022,593.000,152185.000,1314812,1709257,1972220,2008-01-01,4,1452869,268530
25,2008-01-26,1425,10,132000.000,1868.000,1252,413.000,135533.000,1086925,1413001,1630388,2008-01-01,4,1201052,224325
26,2008-01-27,975,12,139500.000,2273.000,1491,795.000,144059.000,1322941,1719825,1984411,2008-01-01,4,1461849,269850
27,2008-01-28,1575,14,148500.000,2363.000,1151,765.000,152779.000,1517369,1972583,2276054,2008-01-01,4,1676693,315735
28,2008-01-29,1575,12,109500.000,2093.000,1370,615.000,113578.000,1298300,1687788,1947448,2008-01-01,5,1434620,271410
29,2008-01-30,1575,13,87000.000,1913.000,1317,690.000,90920.000,1422015,1848617,2133021,2008-01-01,5,1571325,294840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,2009-12-02,790,10,0.000,1245.000,1435,453.000,3133.000,985523,1281181,1478287,2009-12-01,100,1089003,595575
698,2009-12-03,710,10,0.000,1395.000,1093,333.000,2821.000,1001592,1302069,1502392,2009-12-01,100,1106759,596075
699,2009-12-04,960,13,0.000,1350.000,1072,430.000,2852.000,1298237,1687709,1947359,2009-12-01,100,1434550,775645
700,2009-12-05,740,9,0.000,870.000,1421,423.000,2714.000,901734,1172254,1352603,2009-12-01,101,996415,537480
701,2009-12-06,845,10,0.000,1478.000,1006,325.000,2809.000,991709,1289223,1487567,2009-12-01,101,1095838,597675
702,2009-12-07,1165,12,0.000,1568.000,1196,675.000,3439.000,1205408,1567031,1808114,2009-12-01,101,1331976,717870
703,2009-12-08,1085,12,0.000,1718.000,1141,598.000,3457.000,1190353,1547459,1785533,2009-12-01,101,1315340,718590
704,2009-12-09,945,11,0.000,1358.000,1048,343.000,2749.000,1106315,1438210,1659476,2009-12-01,101,1222477,659340
705,2009-12-10,725,10,0.000,998.000,1227,410.000,2635.000,999061,1298781,1498595,2009-12-01,101,1103963,599925
706,2009-12-11,660,11,0.000,1290.000,1385,615.000,3290.000,1088679,1415284,1633021,2009-12-01,101,1202991,660495
707,2009-12-12,985,10,0.000,1268.000,1359,595.000,3222.000,1003948,1305134,1505926,2009-12-01,102,1109363,600975
708,2009-12-13,630,10,0.000,975.000,1044,545.000,2564.000,1016933,1322013,1525401,2009-12-01,102,1123709,601475
709,2009-12-14,1530,12,0.000,2025.000,1495,628.000,4148.000,1194376,1552689,1791566,2009-12-01,102,1319784,722430
710,2009-12-15,1395,12,0.000,1793.000,1375,403.000,3571.000,1198113,1557549,1797173,2009-12-01,102,1323915,723150
711,2009-12-16,1005,9,0.000,1028.000,1185,335.000,2548.000,907988,1180384,1361983,2009-12-01,102,1003327,542835
712,2009-12-17,700,12,0.000,1230.000,1218,503.000,2951.000,1199122,1558859,1798685,2009-12-01,102,1325030,724410
713,2009-12-18,1150,10,0.000,1845.000,1020,528.000,3393.000,1011821,1315368,1517735,2009-12-01,102,1118063,604225
714,2009-12-19,1210,12,0.000,1785.000,1171,465.000,3421.000,1190905,1548177,1786360,2009-12-01,103,1315952,725730
715,2009-12-20,1030,12,0.000,1635.000,1208,663.000,3506.000,1211240,1574614,1816864,2009-12-01,103,1338420,726450
716,2009-12-21,1175,12,0.000,1883.000,1449,435.000,3767.000,1202458,1563196,1803690,2009-12-01,103,1328716,727170
717,2009-12-22,1125,10,0.000,1208.000,1284,278.000,2770.000,997647,1296942,1496473,2009-12-01,103,1102400,606525
718,2009-12-23,730,9,0.000,1005.000,1151,590.000,2746.000,902261,1172939,1353394,2009-12-01,103,996998,546300
719,2009-12-24,1045,11,0.000,1508.000,1455,370.000,3333.000,1091820,1419367,1637731,2009-12-01,103,1206461,668250
720,2009-12-25,915,12,0.000,1583.000,1003,0.000,2586.000,1198648,1558242,1797976,2009-12-01,103,1324505,729690
721,2009-12-26,1410,10,0.000,1395.000,1272,0.000,2667.000,996591,1295569,1494890,2009-12-01,104,1101231,608625
722,2009-12-27,1065,13,0.000,1988.000,1396,0.000,3384.000,1298889,1688557,1948336,2009-12-01,104,1435271,791960
723,2009-12-28,830,11,0.000,1305.000,1104,0.000,2409.000,1100986,1431283,1651483,2009-12-01,104,1216590,670780
724,2009-12-29,535,9,0.000,833.000,1482,0.000,2315.000,913403,1187424,1370107,2009-12-01,104,1009310,549270
725,2009-12-30,1120,12,0.000,1770.000,1362,0.000,3132.000,1186070,1541893,1779108,2009-12-01,104,1310608,732990
726,2009-12-31,620,10,0.000,1110.000,1487,0.000,2597.000,997089,1296216,1495635,2009-12-01,104,1101782,611375

In [25]:
complete_merge = complete_merge.groupby(['Week'])['Visits', 'Visitors', 'Page Views', 'Visits to competitor sites', 'Social Media Mentions'].sum()
complete_merge = complete_merge.reset_index()
complete_merge.to_csv("complete_data_merged.csv")
own_visits = go.Scatter(
            x = complete_merge['Week'],
            y = complete_merge['Visits'],
            name = "MM Website Visits",
            line = {'color': "#800000", "width":3},
            mode = 'lines',
            yaxis="y1")

comp_visits = go.Scatter(
            x=complete_merge['Week'],
            y=complete_merge['Visits to competitor sites'],
            name = "Visits to Competitor Sites",
            line = {'color': "#0a82cc", "width":1},
            mode = 'lines',
            yaxis='y2')

comp_social = go.Scatter(
            x=complete_merge['Week'],
            y=complete_merge['Social Media Mentions'],
            name = "Competitor Social Media Mentions",
            line = {'color': "#ff8c00", "width":1},
            mode = 'lines',
            yaxis='y3')

data = [own_visits, comp_visits, comp_social]

layout = go.Layout(
    title='MedMen vs. Competitor Views and Social Media Mentions',
    titlefont=dict(
            size=24,
        ),
    xaxis=dict(
        domain=[0, 0.95],
        rangeslider=dict(
            visible = True
        )
    ),
    yaxis = dict(
        title='MM Website Visits',
        titlefont=dict(
            color='#800000'
            ),
        tickfont=dict(
            color='#800000'
            ),
        anchor='x',
        # overlaying='y',
        side='left',
        position=0
        ),
    yaxis2 = dict(
        title='Visits to competitor sites',
        titlefont=dict(
            color='#0a82cc'
            ),
        tickfont=dict(
            color='#0a82cc'
            ),
        anchor='x',
        overlaying='y',
        side='right',
        ),
    yaxis3=dict(
        title='Social Media Mentions',
        titlefont=dict(
            color='#ff8c00'
            ),
        tickfont=dict(
            color='#ff8c00'
            ),
        anchor='free',
        overlaying='y',
        side='right',
        position=1
        )
)


fig = go.Figure(data=data, layout=layout)

py.iplot(fig)